{% extends 'layout.html' %}



{% block content %}

<div style="text-align:center;">
    <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="Search..." title="Type in a song" style="width:90%;">
</div>
<dl id="myMenu" style="width:98%; padding-left:2%;">
    <h1 style="text-align: center;"> Brani </h1>
    {% for s in songs %}
        <div>
            <dt style="display: inline">
                <img src="static\img\gallery.png" style="width:3%;"> <a href="{{url_for('song_bp.show_song',song_id=s[3])}}">{{s[0]}}</a> - {{s[1]}} - {{s[2]}} 
                {% if s[4] == False %}
                    <a href="{{url_for('song_bp.add_to_liked_songs',song_id=s[3])}}">
                        <img src="static\img\like.png" style="width:5%; float: right; padding-right: 2%;">
                    </a>
                {% else %}
                    <a href="{{url_for('song_bp.remove_from_liked_songs',song_id=s[3])}}">
                        <img src="static\img\dislike.png" style="width:5%; float: right;padding-right: 2%;">
                    </a>
                {% endif %}
            </dt>
        </div>
    {% endfor %}

    <hr style="height:0.3vw;border-width:0; background-color: white;">
        
    <h1 style="text-align: center;"> Album </h1>
    {% for a in albums %}
        <div>
            <dt style="display: inline">
                <img src="static\img\gallery.png" style="width:3%;"> <a href="{{url_for('album_bp.show_album',album_id=a[3], artist=a[5])}}">{{a[0]}}</a> - {{a[1]}} - {{a[2]}}
                {% if a[4] == False %}
                    <a href="{{url_for('album_bp.add_to_liked_albums',album_id=a[3])}}">
                        <img src="static\img\like.png" style="width:5%; float: right; padding-right: 2%;">
                    </a>
                {% else %}
                    <a href="{{url_for('album_bp.remove_from_liked_albums',album_id=a[3])}}">
                        <img src="static\img\dislike.png" style="width:5%; float: right; padding-right: 2%;">
                    </a>
                {% endif %}
            </dt>
        </div>
    {% endfor %}
</dl>

<script>
    function myFunction() {
        // Declare variables
        var input, filter, dl, dt, a, i;
        input = document.getElementById("mySearch");
        filter = input.value.toUpperCase();
        dl = document.getElementById("myMenu");
        dt = dl.getElementsByTagName("dt");
    
        // Loop through all list items, and hide those who don't match the search query
        for (i = 0; i < dt.length; i++) {
            a = dt[i].getElementsByTagName("a")[0];
            if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                dt[i].style.display = "";
            } else {
                dt[i].style.display = "none";
            }
        }
    }
</script>

{% endblock %}


