{% extends 'layout.html' %}



{% block content %}

<div style="text-align:center;">
    <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="Search..." title="Type in a song" style="width:90%;">
</div>
<dl id="myMenu" style="width:98%; padding-left:2%;">
    <h1 style="text-align: center;">Brani</h1>
    {% for s in songs %}
        <div style="display: inline-block;">
            <dt><img src="..\static\img\gallery.png" style="width:3%;"><a href="#">{{s.Name}}</a></dt> 
            <dt>{{s.Duration}} {{s.Genre}} {{s.Artist}}<a href="{{ url_for('song_bp.add_to_liked', song_id=s.Id) }}"><img src="..\static\img\add.png" style="width:5%; float: right;"></a></dt>
    </div>
    {% endfor %}
    <hr style="height:8px;border-width:0;color:white; border-color: white; background-color: white;">
    <h1 style="text-align: center;">Album</h1>
    {% for a in albums %}
        <dt><img src="..\static\img\gallery.png" style="width:3%;"><a href="#">{{a.Name}}</a></dt> <a href="{{ url_for('album_bp.add_to_liked', album_id=a.Id) }}"><img src="..\static\img\add.png" style="width:5%; float: right;"></a>
    {% endfor %}
</dl>

<script>
    function myFunction() {
        // Declare variables
        var input, filter, dl, dt, a, i;
        input = document.getElementById("mySearch");
        filter = input.value.toUpperCase();
        dl = document.getElementById("myMenu");
        dt = dl.getElementsByTagName("dt");
    
        // Loop through all list items, and hide those who don't match the search query
        for (i = 0; i < dt.length; i++) {
            a = dt[i].getElementsByTagName("a")[0];
            if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                dt[i].style.display = "";
            } else {
                dt[i].style.display = "none";
            }
        }
    }
</script>

{% endblock %}


