<!DOCTYPE html>
<html lang="en">

<meta name="viewport" content="width=device-width,initial-scale=1">
<meta charset="utf-8">

<link rel="stylesheet" href="..\static\css\bootstrap.min.css">
<link rel="stylesheet" href="..\static\css\style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="..\static\js\bootstrap.min.js"> </script>

<head>
    <title>Spotifake</title>
    <link rel="icon" type="image/x-icon" href="..\static\img\logo.png">
</head>

<body>
    <main>
        <table>
            <tr align="top">
                <td style="width:20%;">
                    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark">
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item" align="left">
                            <a href="{{ url_for('profile_bp.profile') }}" class="nav-link text-white"  style="font-family:Gotham_Regular;">
                                <img src="..\static\img\profile.png" style="width:40%;"> Nome
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('home_bp.home') }}" class="nav-link text-white" style="font-size:1.5vw;">
                                <img src="..\static\img\home.png" style="width:20%;">  Home
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('find_bp.find') }}" class="nav-link text-white" style="font-size:1.5vw;">
                                <img src="..\static\img\search.png" style="width:20%;">  Cerca
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('library_bp.library') }}" class="nav-link text-white" style="font-size:1.5vw;">
                                <img src="..\static\img\library.png" style="width:20%;">  Libreria
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('playlist_bp.playlist') }}" class="nav-link text-white" style="font-size:1.5vw;">
                                <img src="..\static\img\add.png" style="width:20%;">  Crea playlist
                            </a>
                        </li>
                    </ul>
                    <hr>
                    </div>
                </td>
                <td align="top">
                    <p>boh</p>
                    {% block content %} {% endblock %}
                </td>
            </tr>
    </main>
        
</body>
