
<html>
<body>
    <style>
        body {background-color: #1DB954;}
    </style>
    <form action="/create_new_user", method="POST", style="text-align: center;">
        <input name="email", type="text", placeholder="Email">
        <input name="pass", type="password", placeholder="Password">
        <input name="nome", type="text", placeholder="Nome">
        <input name="data", type="date", placeholder="Data di Nascita">
        <input name="paese", type="text", placeholder="Paese">
        <input name="sesso", type="text", placeholder="Sesso">
        <input name="profilo", type="text", placeholder="Profilo">
        <input type="submit", value="ISCRIVITI">
    </form>
    

    

</body>    
</html>