{% extends 'layout.html' %}

{% block content %}
  <div class="w3-container"> <h1> Condividi il tuo album con il mondo </h1> </div>
  <div style="display:inline-block; width:35%;">
    <img src="..\static\img\gallery.png" style="width:100%;">

    <div style="display:inline-block; width:35%;" class="form-wrapper">
      <form method="POST" action="{{ url_for('album_bp.create_album') }}">
        {{ form.csrf_token }}
    
        <fieldset class="form-field">
          {{ form.name.label }} 
          {{ form.name }}
          {% if form.name.errors %}
            <ul class="errors">
              {% for error in form.name.errors %}
                <li class="error">
                  <i class="fas fa-exclamation"></i> <span class="error-message"> {{error}} </span>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </fieldset>
  
        <fieldset class="form-field">
          {{ form.releaseDate.label }} 
          {{ form.releaseDate }}
          {% if form.releaseDate.errors %}
            <ul class="errors">
              {% for error in form.releaseDate.errors %}
                <li class="error">
                  <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </fieldset>
  
        <fieldset class="form-field">
          {{ form.recordHouse.label }} 
          {{ form.recordHouse }}
          {% if form.recordHouse.errors %}
            <ul class="errors">
              {% for error in form.recordHouse.errors %}
                <li class="error">
                  <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </fieldset>

        <fieldset class="form-field">
          {{ form.type.label }} 
          {{ form.type }}
          {% if form.type.errors %}
            <ul class="errors">
              {% for error in form.type.errors %}
                <li class="error">
                  <i class="fas fa-exclamation"></i> <span class="error-message"> {{error}} </span>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </fieldset>
  
        {{ form.submit }}
      </form>
    </div>
  </div>
{% endblock %}