{% extends 'layout.html' %}

{% block content %}
    <div class="w3-container"> <h1> I tuoi album <a href="{{ url_for('album_bp.create_album') }}"> <img src="..\static\img\add.png", style="width:5% ;"> </a></h1> </div>
    <dl>
        {% for a in albums %}
            <dt style="display:inline;"> 
                <figure style="display:inline-block; width:15%;">
                    <img src="static\img\gallery.png" style="width:100%;">
                    <figcaption style="text-align:center;">
                        {{a.Name}}  
                    </figcaption>
                    <figcaption style="text-align:center;">
                        <a href="{{url_for('album_bp.delete_album', album_id=a.Id)}}">
                            <img src="static\img\cancel.png" style="width:30%;">
                        </a>
                        <a href="{{url_for('album_bp.edit_album', album_id=a.Id)}}">
                            <img src="static\img\edit.png" style="width:30%;">
                        </a> 
                    </figcaption>
                </figure>
            </dt>
        {% endfor %}
    </dl>
{% endblock %}