{% extends 'layout.html' %}

{% block content %}

{% with errors = get_flashed_messages(category_filter=["error"]) %}
  {% if errors %}
    <div id="myErrors" class="alert-message block-message error" style="text-align: center; background-color: #1d1d1d; border-radius: 5vw;">
          <ul>
              {%- for msg in errors %}
                <li style="text-align: center;">{{ msg }}</li>
              {% endfor -%}
          </ul>
          <a id="closeButton" class="submit_btn" href="#" onclick="myFunction()" style="text-align: center; padding: 0 0.8vw;">Ok</a>
    </div>
  {% endif %}
{% endwith %}

<script>
  function myFunction() {
    var x = document.getElementById("myErrors");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
</script>

<div class="w3-container"> 
    <a href="{{ url_for('album_bp.show_album', album_id = album.Id, artist=album.Artist) }}"> 
        <h1>{{album.Name}}
            <p>
                Scegli che canzoni aggiungere
            </p>
        </h1> 
    </a>
</div>


<div>
    <table style="width:99%; padding-left:1%;"> 
        <tr style="border-bottom: 0.20vw solid rgb(219, 219, 213);">
            <th style="width:32%; text-align:left;"> TITOLO </th>
            <th style="width:32%;"> GENERE </th>
            <th style="width:32%; text-align:right; padding-right:1%;"> DURATA </th>
            <th style="width:4%;"> </th>
        </tr>
        {% for s in songs %}
        <tr>
            <td> {{s.Name}} </td>
            <td style=" text-align: center;"> {{s.Genre}} </td>
            <td style="text-align:right; padding-right:1%;"> {{s.Duration}} </td>
            <td><a href="{{ url_for('album_bp.add_songs_to_album', song_id = s.Id, album_id = album.Id) }}"><img src="..\..\static\img\add.png", style="width:100%;"></a></td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}