{% extends 'layout.html' %}

{% block content %}
<style>
    .logout_btn {
        background-color:#d71e31; 
        border:none; 
        border-radius:10vw;
        color: rgb(249, 248, 241);
        padding: 0.8vw 1.2vw;
      }
    .logout_btn:hover {
        background-color: #610202;
      }
</style>
<table style="width:100%;">
    <tr>
        <td style="padding-left:1%;"> <h1>Il tuo profilo </h1> </td>
        <td style="text-align:right; padding-right:2%;"> 
            <form action="/logout">
                <button type="submit"> LOGOUT </button> 
            </form>
        </td>
    </tr>
</table>

<div id="myPopup" style= "display: none; text-align: center;  background-color: #1d1d1d; border-radius: 5vw;">
    Vuoi davvero cancellare il tuo profilo? <br>
    <a class="logout_btn" href="#" onclick="myFunction()" style="text-align: center; padding: 0 0.8vw;">No</a>
    <a class="submit_btn" href="{{ url_for('profile_bp.delete_profile') }}" style="text-align: center; padding: 0 1.2vw;">Sì</a>
</div>

<div style="display:inline-block; width:30%;">
    <img src="..\static\img\profile.png" style="width:100%;">
</div>

<div style="display:inline-block; width:35%;">
    <h1 id="user_name">{{user.Name}}</h1> 
    <a href="{{ url_for('profile_bp.update') }}">
        <button id="button">Modifica nome</button>
    </a>
    <br>
    <a href="#">
        <button class="logout_btn" style="transform: translateY(+25%)" onclick="myFunction()">Cancella profilo</button>
    </a>

    <script>
        // When the user clicks on <div>, open the popup
        function myFunction() {
          var popup = document.getElementById("myPopup");
          if (popup.style.display=="none")
                popup.style.display="block"
          else
                popup.style.display="none"
        }
    </script>
</div>    

{% endblock %}