{% extends 'layout.html' %}

{% block content %}
<table style="width:100%;">
    <tr>
        <td style="padding-left:1%;"> <h1>Il tuo profilo </h1> </td>
        <td style="text-align:right; padding-right:2%;"> 
            <form action="/logout">
                <button type="submit"> LOGOUT </button> 
            </form>
        </td>
    </tr>
</table>

<div style="display:inline-block; width:30%;">
    <img src="..\static\img\profile.png" style="width:100%;">
</div>

<div style="display:inline-block; width:35%;">
    <h1 id="user_name">{{user.Name}}</h1> 
    <a href="{{ url_for('profile_bp.update') }}">
        <button id="button">Modifica nome</button>
    </a>
    <a href="{{ url_for('profile_bp.delete_profile') }}">
        <button id="button">Cancella profilo</button>
    </a>
</div>    

{% endblock %}