{% extends 'layout.html' %}

{% block content %}
    <div class="w3-container"> <h1>Il tuo profilo </h1> </div>

{% with errors = get_flashed_messages(category_filter=["error"]) %}
  {% if errors %}
    <div id="myErrors" class="alert-message block-message error" style="text-align: center; background-color: #1d1d1d; border-radius: 5vw;">
          <ul>
              {%- for msg in errors %}
                <li style="text-align: center;">{{ msg }}</li>
              {% endfor -%}
          </ul>
          <a id="closeButton" class="submit_btn" href="#" onclick="myFunction()" style="text-align: center; padding: 0 0.8vw;">Ok</a>
    </div>
  {% endif %}
{% endwith %}

<script>
  function myFunction() {
    var x = document.getElementById("myErrors");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
</script>

<h2 class="title" style="text-align:center;">Aggiorna il tuo profilo</h2>

<form method="POST" action="{{ url_for('profile_bp.update_info') }}">
  {{ form.csrf_token }}

  <fieldset class="form-field">
    {{ form.name.label }} 
    {{ form.name }}
    {% if form.name.errors %}
      <ul class="errors">
        {% for error in form.name.errors %}
          <li class="error">
            <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </fieldset>
  <br>
  <fieldset class="form-field">
    {{ form.profile.label }} 
    {{ form.profile }}
    {% if form.profile.errors %}
      <ul class="errors">
        {% for error in form.profile.errors %}
          <li class="error">
            <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </fieldset>

  <br>
  {{ form.submit(class_="submit_btn") }}
</form>


{% endblock %}