{% extends 'layout.html' %}

{% block content %}
    <div class="w3-container"> <h1>Il tuo profilo </h1> </div>

{% with errors = get_flashed_messages(category_filter=["error"]) %}
  {% if errors %}
    <div id="myErrors" class="alert-message block-message error" style="text-align: center; background-color: #1d1d1d; border-radius: 5vw;">
          <ul>
              {%- for msg in errors %}
                <li style="text-align: center;">{{ msg }}</li>
              {% endfor -%}
          </ul>
          <a id="closeButton" class="submit_btn" href="#" onclick="myFunction()" style="text-align: center; padding: 0 0.8vw;">Ok</a>
    </div>
  {% endif %}
{% endwith %}

<script>
  function myFunction() {
    var x = document.getElementById("myErrors");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
</script>

    <div style="display:inline-block; width:30%;">
        <img src="..\static\img\profile.png" style="width:100%;">
    </div>
    <div style="display:inline-block; width:35%;">
        <form id="user_name", action="/update_info" method="POST"> 
            <input type="text", name="name" placeholder="Nuovo nome", value="{{user.Name}}">
            <input type="submit", value="Salva">
    </div>

{% endblock %}