body {
    background-color: #404040;
}
@font-face {
    font-family: Gotham_Regular;
    src: url(../src/Gotham_Regular.ttf);
}
@font-face {
    font-family: Gotham_Light;
    src: url(../src/Gotham_Light.otf);
}
h1 {
    color: rgb(249, 248, 241);
    font-family: Gotham_Regular;
    font-size: 4vw;
}
p {
    color: rgb(249, 248, 241);
    font-family: Gotham_Light;
    font-size: 2vw;
}
div {
  color: rgb(249, 248, 241);
  font-family: Gotham_Light;
  font-size: 2vw;
}
a {
  color: rgb(219, 219, 213);
  font-family: Gotham_Light;
  font-size: 2vw;
}
a:hover {
    color: rgb(249, 248, 241);
}
a:link {
    text-decoration: none;
}