{% extends 'layout.html' %}

{% block content %}
    <div class="w3-container"> <h1>Aggiorna le informazioni del tuo brano </h1> </div>
    <div style="display:inline-block; width:35%;">
        <img src="..\static\img\gallery.png" style="width:100%;">
    </div>
    <div style="display:inline-block; width:35%;">
        <form action="/update_songs/{{id}}/{{restriction}}" method="POST"> 
            <input type="text", name="name" placeholder="Nome brano", value="{{name}}">
            <input type="time", step="2" name="duration" placeholder="Durata", value="{{duration}}">
            <input type="text", name="genre" placeholder="Genere", value="{{genre}}">
            {% if restriction %}
            <p>Vuoi togliere questo brano dall'elenco dei contenuti Premium?</p>
            {% else %}
            <p>Vuoi aggiungere questo brano all'elenco dei contenuti Premium?</p>
            {% endif %}
            <input type="radio", name="restriction", value="Sì">
            <label>Sì</label><br>
            <input type="submit", value="Salva">
    </div>
    

{% endblock %}