{% extends 'layout.html' %}

{% block content %}
    <div class="w3-container"> <h1>Aggiorna le informazioni del tuo brano</h1> </div>
    <div style="display:inline-block; width:35%;">
        <img src="..\static\img\gallery.png" style="width:100%;">
    </div>
    <div style="display:inline-block; width:35%;" class="form-wrapper">
        <form method="POST" action="{{ url_for('song_bp.edit_song') }}">
            {{ form.csrf_token }}
      
            <fieldset class="form-field
              {{ name }} 
              {{ form.name }}
              {% if form.name.errors %}
                <ul class="errors">
                  {% for error in form.name.errors %}
                    <li class="error">
                      <i class="fas fa-exclamation"></i> <span class="error-message"> {{error}} </span>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </fieldset>
      
            <fieldset class="form-field">
              {{ duration }} 
              {{ form.time }}
              {% if form.time.errors %}
                <ul class="errors">
                  {% for error in form.time.errors %}
                    <li class="error">
                      <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </fieldset>
      
            <fieldset class="form-field">
              {{ genre }} 
              {{ form.genre }}
              {% if form.genre.errors %}
                <ul class="errors">
                  {% for error in form.genre.errors %}
                    <li class="error">
                      <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </fieldset>
      
            <fieldset class="form-field">
              {{ form.type.label }} 
              {{ form.type }}
              <i class="fas fa-caret-down"></i>
              {% if form.type.errors %}
                <ul class="errors">
                  {% for error in form.type.errors %}
                    <li class="error">
                      <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </fieldset>

            {{ form.submit }}
          </form>
    </div>
{% endblock %}