{% extends 'layout.html' %}

{% block content %}
    <div class="w3-container"> <h1>Le tue canzoni <a href="{{ url_for('song_bp.upload_song') }}"> <img src="..\static\img\add.png", style="width:5% ;"> </a></h1> </div>
    <dl>
    {% for s in songs %}
        <dt style="display:inline;"> 
            <div style="display: inline-block;">
                <figure style="display:inline-block; width:15%;">
                    <img src="..\static\img\gallery.png" style="width:100%;">
                    <figcaption style="text-align:center;"> {{s.Name}} </figcaption>
                </figure>
                <a href="{{ url_for('song_bp.delete_songs', song_id=s.Id) }}">
                    <figure style="display:inline-block; width:15%;">
                        <img src="..\static\img\cancel.png" style="width:70%;">
                        <figcaption style="text-align:center; display: inline-block;"> Elimina brano </figcaption>
                    </figure>
                </a>
                <a href="{{ url_for('song_bp.edit_songs', song_id=s.Id) }}"> 
                    <figure style="display:inline-block; width:15%;">
                        <img src="..\static\img\edit.png" style="width:70%;">
                        <figcaption style="text-align:center; display: inline-block;"> Modifica informazioni </figcaption>
                    </figure>
                </a>
            </div>
           
        </dt>
    {% endfor %}
    </dl>

{% endblock %}

