{% extends 'layout.html' %}

{% block content %}
   
    <div class="w3-container"> <h1>Le tue canzoni <a href="{{ url_for('song_bp.upload_song') }}"> <img src="..\static\img\add.png", style="width:5% ;transform: translateY(-25%)"> </a></h1> </div>
    <dl>
        <h1 style="text-align: center;">Brani pubblici</h1>
        {% for s in songs_free %}
            <dt style="display:inline;"> 
                <figure style="display:inline-block; width:15%;">
                    <img src="static\img\gallery.png" style="width:100%;">
                    <figcaption style="text-align:center;">
                        {{s.Name}}
                    </figcaption>
                    <figcaption style="text-align:center;">
                        <a href="{{url_for('song_bp.delete_song',song_id=s.Id)}}">
                            <img src="static\img\cancel.png" style="width:30%;">
                        </a>
                        <a href="{{url_for('song_bp.edit_song',song_id=s.Id)}}">
                            <img src="static\img\edit.png" style="width:30%;">
                        </a> 
                    </figcaption>
                </figure>
            </dt>
        {% endfor %}
    </dl>

    <hr style="height:0.3vw;border-width:0; background-color: white;">

    <dl>
        <h1 style="text-align: center;">Brani premium</h1>
        {% for s in songs_premium %}
            <dt style="display:inline;"> 
                <figure style="display:inline-block; width:15%;">
                    <img src="static\img\gallery.png" style="width:100%;">
                    <figcaption style="text-align:center;">
                        {{s.Name}}   
                    </figcaption>
                    <figcaption style="text-align:center;">
                        <a href="{{url_for('song_bp.delete_song',song_id=s.Id)}}">
                            <img src="static\img\cancel.png" style="width:30%;">
                        </a>
                        <a href="{{url_for('song_bp.edit_song',song_id=s.Id)}}">
                            <img src="static\img\edit.png" style="width:30%;">
                        </a> 
                    </figcaption>
                </figure>
            </dt>
        {% endfor %}
    </dl>

{% endblock %}

