{% extends 'layout.html' %}

{% block content %}
<style>
  fieldset{
    border: 0;
    background-color: #212221;
    border-radius: 4vw;
    text-align: center; 
    width: 60%;
    margin: auto;
  }
  ul{
    list-style-type: none;
  }
  form{
    text-align: center;
  }
</style>

<h1> Condividi il tuo brano con il mondo </h1> 
<table>
  <tr>
    <td style="vertical-align:top; width:40%;">
      <img src="..\static\img\gallery.png" style="width:100%;">
    </td>
    <td style="width:60%;">
      <form method="POST" action="{{ url_for('song_bp.upload_song') }}">
        {{ form.csrf_token }}
    
        <fieldset class="form-field" >
          {{ form.name.label }} 
          {{ form.name }}
          {% if form.name.errors %}
            <ul class="errors">
              {% for error in form.name.errors %}
                <li class="error">
                  <i class="fas fa-exclamation"></i> <span class="error-message"> {{error}} </span>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </fieldset>
        <br>
        <fieldset class="form-field">
          {{ form.time.label }} 
          {{ form.time }}
          {% if form.time.errors %}
            <ul class="errors">
              {% for error in form.time.errors %}
                <li class="error">
                  <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </fieldset>
        <br>
        <fieldset class="form-field">
          {{ form.genre.label }} 
          {{ form.genre }}
          {% if form.genre.errors %}
            <ul class="errors">
              {% for error in form.genre.errors %}
                <li class="error">
                  <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </fieldset>
        <br>
        <fieldset class="form-field">
          {{ form.type.label }} 
          {{ form.type }}
          <i class="fas fa-caret-down"></i>
          {% if form.type.errors %}
            <ul class="errors">
              {% for error in form.type.errors %}
                <li class="error">
                  <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </fieldset>
        <br>
        {{ form.submit }}
      </form>
    </td>
  </tr>
</table>
{% endblock %}