{% extends 'layout.html' %}

{% block content %}
    <div class="w3-container"> <h1>Condividi il tuo brano con il mondo</h1> </div>
    <div style="display:inline-block; width:35%;">
        <img src="..\static\img\gallery.png" style="width:100%;">
    </div>
    <div style="display:inline-block; width:35%;">
        <form id="song_info", action="/create_song" method="POST"> 
            <input type="text", name="name" placeholder="Nome brano">
            <input type="time", step="1" name="duration" placeholder="Durata", value="00:00:00">
            <input type="text", name="genre" placeholder="Genere">
            <input type="submit", value="Carica">
    </div>
    

{% endblock %}