{% extends 'layout.html' %}

{% block content %}
    <div class="w3-container"> <h1>Le tue playlist <a href="{{ url_for('playlist_bp.playlist') }}"> <img src="..\static\img\add.png", style="width:5% ;"> </a></h1> </div>
    <dl>
    {% for p in playlists %}
        <dt style="display:inline;"> 
            <a href="{{ url_for('playlist_bp.show_playlist_content', playlist_name=p.Name) }}">
                <figure style="display:inline-block; width:15%;">
                    <img src="..\static\img\gallery.png" style="width:100%;">
                    <figcaption style="text-align:center;"> {{p.Name}} </figcaption>
                </figure>  
            </a> 
        </dt>
    {% endfor %}
    </dl>

    <div class="w3-container"> <h1> Consigliata per oggi </h1> </div>
{% endblock %}