{% extends 'layout.html' %}

{% block content %}
    <div class="w3-container"> <h1>Le tue playlist <a href="{{ url_for('playlist_bp.create_playlist') }}"> <img src="..\static\img\add.png", style="width:5% ;transform: translateY(-25%)"> </a></h1> </div>
    <dl>
    {% for p in playlists %}
        <dt style="display:inline;"> 
            <a href="{{ url_for('playlist_bp.show_playlist_content', playlist_id=p.Id) }}">
                <figure style="display:inline-block; width:15%;">
                    <img src="..\static\img\gallery.png" style="width:100%;">
                    <figcaption style="text-align:center;"> {{p.Name}} </figcaption>
                </figure>  
            </a> 
        </dt>
    {% endfor %}
    </dl>

    <div class="w3-container"> <h1> Consigliata per oggi </h1> </div>
    <dl>
        {% for c in consigli %}
            <dt style="display:inline;"> 
                <a href="{{ url_for('song_bp.show_song', song_id=c.Id) }}">
                    <figure style="display:inline-block; width:15%;">
                        <img src="..\static\img\gallery.png" style="width:100%;">
                        <figcaption style="text-align:center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 6ch;"> {{c.Name}} </figcaption>
                    </figure>  
                </a> 
            </dt>
        {% endfor %}
        </dl>
{% endblock %}