{% extends 'layout.html' %}

{% block content %}
<table>
    <tr>
        <td style="width:30%;"><img src="..\static\img\gallery.png" style="width:100%;"></td>
        <td>
        <h1>{{playlist.Name}}</h1>
        <p>{{n_songs}} - {{playlist.Duration}}</p>
        <a href="{{url_for('playlist_bp.show_songs_addable',playlist_id=playlist.Id)}}">
            <img src="..\static\img\add.png" style="width:10%;">
        </a>  
        <a href="{{url_for('playlist_bp.delete_playlist',pl_id=playlist.Id)}}">
            <img src="..\static\img\cancel.png" style="width:10%;">
        </a>
        <a href="{{url_for('playlist_bp.edit_playlist',pl_id=playlist.Id)}}"> 
            <img src="..\static\img\edit.png" style="width:10%;">
        </a>
        </td>
    </tr>
</table>
  
<table style="width:98%; padding-left:2%;"> 
    <tr style="border-bottom: 0.20vw solid rgb(219, 219, 213);">
        <th style="width:30%; text-align:left;"> TITOLO </th>
        <th style="width:30%;"> GENERE </th>
        <th style="width:30%; text-align:right;"> DURATA </th>
    </tr>
    {% for s in songs %}
        <tr>
            <td style="text-align:left;"> {{s.Name}} </td>
            <td style="text-align:center;"> {{s.Genre}} </td>
            <td style="text-align:right; padding-right:1%;"> {{s.Duration}} </td>
            <td>
                <a href="{{ url_for('playlist_bp.remove_song', song_id=s.Id, pl_id=playlist.Id) }}">
                    <img src="..\static\img\cancel.png", style="width:40%;">
                </a>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}