
<!DOCTYPE html>
<html lang="en">

<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="..\..\static\css\style.css">

<style>
  fieldset{
    border: 0;
    background-color: #212221;
    border-radius: 4vw;
    text-align: center; 
    width: 60%;
    margin: auto;
  }
  ul{
    list-style-type: none;
  }
  form{
    text-align: center;
  }
  h1 {
    color:#1ed760; 
    text-align: center; 
    vertical-align: middle;
  }
  p {
    text-align: center; 
    vertical-align: middle;
  }
  .submit_btn {
    background-color:#1ed760; 
    border:none; 
    border-radius:10vw;
    color: rgb(249, 248, 241);
    padding: 0.8vw 1.2vw;
  }
  .submit_btn:hover {
    background-color: #16a748;
  }
</style>

<head>
    <title>Spotifake</title>
    <link rel="icon" type="image/x-icon" href="..\..\static\img\logo.png">
</head>
<body>
  <div class="form-wrapper">
    <div style="text-align:center;">
      <img src="..\..\static\img\logo.png" style="width:15%;">
      <h1 style="display:inline-block; font-size:10vw;"> Spotifake </h1>
  </div>

  <h2 class="title" style="text-align:center;">Sign up</h2>

    <form method="POST" action="{{ url_for('login_bp.subscribe') }}">
      {{ form.csrf_token }}

      <fieldset class="form-field">
        {{ form.name.label }} 
        {{ form.name }}
        {% if form.name.errors %}
          <ul class="errors">
            {% for error in form.name.errors %}
              <li class="error">
                <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </fieldset>
      <br>
      <fieldset class="form-field">
        {{ form.email.label }} 
        {{ form.email }}
        {% if form.email.errors %}
          <ul class="errors">
            {% for error in form.email.errors %}
              <li class="error">
                <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </fieldset>
      <br>
      <fieldset class="form-field">
        {{ form.password.label }} 
        {{ form.password }}
        {% if form.password.errors %}
          <ul class="errors">
            {% for error in form.password.errors %}
              <li class="error">
                <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </fieldset>
      <br>
      <fieldset class="form-field">
        {{ form.profile.label }} 
        {{ form.profile }}
        {% if form.profile.errors %}
          <ul class="errors">
            {% for error in form.profile.errors %}
              <li class="error">
                <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </fieldset>
      <br>
      <fieldset class="form-field">
        {{ form.gender.label }} 
        {{ form.gender }}
        {% if form.gender.errors %}
          <ul class="errors">
            {% for error in form.gender.errors %}
              <li class="error">
                <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </fieldset>
      <br>
      <fieldset class="form-field">
        {{ form.country.label }} 
        {{ form.country }}
        {% if form.country.errors %}
          <ul class="errors">
            {% for error in form.country.errors %}
              <li class="error">
                <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </fieldset>
      <br>
      <fieldset class="form-field">
        {{ form.birthday.label }} 
        {{ form.birthday }}
        {% if form.birthday.errors %}
          <ul class="errors">
            {% for error in form.birthday.errors %}
              <li class="error">
                <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </fieldset>
      <br>
      {{ form.submit(class_="submit_btn") }}
    </form>
  </div>
</body>
</html>
